
.container{
  //max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.flex{
  display: flex;
}
.items-center{align-items: center}
.justify-between{justify-content: space-between}

li, ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.item-category{
  column-gap: 15px;
  li{
    color: #444444;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color .5s;
    &:hover{
      border-bottom-color: red;
    }
  }
  .active{
    border-bottom: 2px solid red;
  }
}
.section{
  padding: 20px 0;
  .section-name{
    font-size: 22px;
    font-weight: 600;
  }
}

.song-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .song-item{
      min-width: 170px;
      img{
        width: 100%;
      }
    .song-name{
      margin: 0;
      padding: 0;
    }
  }
}