@import "src/sass/-mixin";

.left-sidebar__backdrop__{
  width: 100%;
  height: 100vh;
  background: rgba(49, 49, 49, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  cursor: pointer;
}

.left-sidebar{
  width: 290px;
  position: fixed;
  top: 54px;
  left: 0;
  background: white;
  height: 100vh;
  //box-shadow: 7px 0px 19px #
  z-index: 1001;


  @include getDown(700px){
    display: none;
  }

  .border-b{
    border-bottom-color: #cfcfcf6e;
  }
  .label{
    font-size: 16px;
    font-weight: 400;
    margin-left: 8px;
  }
  .first-section{
    padding: 10px 0 0 25px;
    h4{
      margin: 0;
    }
  }
  .section{
    padding: 25px 30px;
    h4{
      margin: 0;
    }
  }
}

.sidebar-avatar{
  display: flex;
  margin: auto;
  background-color: var(--primary-color);
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  justify-content: center;
}