@import "src/sass/-mixin";

.artist-list{
  column-gap: 20px;
  row-gap: 20px;
}


.artist-item{
  h4{
    padding: 0;
    margin: 0;
    font-size: 14px;
    margin-top: 5px;
  }
  .lazy{
    img {
      width: 40px;
    }
  }
  .lazy-loaded{
    img {
      width: 100%;
    }
  }
}

.artist-detail{

  .artist-detail-info{
    @include getDown(700px){
      flex-direction: column;
      .artist-photo{
        display: flex;justify-content: center;
      }
      .artist-meta{
        display: flex;
        justify-content: center;
      }
        .artist-photo{
            margin-right: 0;
        }
    }

  }

  .artist-photo{
    margin-right: 10px;
    img{

    }
  }

  .artist-name{
    font-size: 16px;
    @include getDown(700px){
      text-align: center;
      margin-top: 20px;
      margin-bottom: 5px;
    }
  }
  .artist-desc{
    font-size: 14px;
    font-weight: 500;
    color: rgba(89, 89, 89, 0.73);
    @include getDown(700px){
      text-align: center;
    }
  }

  .artist-meta{
    margin-top: 20px;
    column-gap: 30px;
    .artist-meta-span {
      h4 {
        color: #737373;
        font-size: 15px;
        margin-left: 5px;
      }

      svg {
        color: #634cff;
      }
      &:nth-child(1){
        svg{
          color: #ff3352;
        }
      }
    }
  }

  .play-all-btn{
    padding: 10px 100px;
    margin-top: 15px;
    border-radius: 50px;
    font-size: 15px;
      @include getDown(768px){
          margin: 20px auto;
      }
  }
}


.cover-root{
  .icon-in-cover{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  img{
    width: 100%;
  }
  .circle-icon {
    opacity: 0;
    background-color: white;
    //box-shadow: 0 0 17px 12px #2a2a2ab8;
    svg{
      color: #0e0e0e;
    }
  }

  &:hover{
    .circle-icon{
      opacity: 1;
    }
  }
}


.artist-songs-table{
    display: block;
    thead{
        display: none;
    }
    tbody{
        display: block;
        tr{
            display: flex;
            flex-direction: column;
        }
        .cover-td{
            & > div{
                align-items: flex-start;
            }
            display: block;
            .thumb-40 {
                width: 30px;
                img {
                    //width: 10px;
                }
            }
        }
    }

}