@import "src/sass/-mixin";

.alert-backdrop{
    width: 100%;
    content: "sad";
    height: 100vh;
    background: #56565682;
    position: fixed;
    left: 0;
    z-index: 1003;
    top: 0;
}
.alert {
    position: fixed;
    top: 20%;
    left: 50%;
    z-index: 2000;
    transform: translateX(-50%);
    border-radius: 6px;
    padding: 25px;
    box-shadow: 1px 5px 20px 11px rgb(116 116 116 / 47%);
    width: 70%;
    @include getDown(600){
        width: 100%;
    }
}

.alert-error {
    background: #f66060;
    color: white;
}
.alert-success {
    background-color: rgb(121, 109, 229);
}