

.artist-item{
  h4{
    padding: 0;
    margin: 0;
  }
}

.artist-image{
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 130px;
  height: 130px;
  background: #eaeaea;
  //box-shadow: 1px 4px 10px rgba(143, 143, 143, 0.46);
  img{
    width: 50px
  }
}

.lazy-loaded{
  img{
    width: 100%;
  }
}